*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* --------------------------------------------- */

section.video-slider {
  position: relative;
  width: 100%;
  height: 100vh;
}

section.video-slider video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-thumb {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999;
}

.video-thumb li {
  cursor: pointer;
  margin: 0 10px;
}

.video-thumb img {
  width: 150px;
  opacity: 0.3;
  border: 3px solid #fff;
  transition: 0.3s;
}

.video-thumb img:hover {
  width: 170px;
  opacity: 1;
}
